#!/usr/bin/env python3

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("enabled", bool_t, 0, "Whether to apply this plugin or not", True)
gen.add("gridmap_layer_name", str_t, 0, "grid map layer name to use for convertion", "elevation")
gen.add("no_information", double_t, 0, "specific value of grid map for no information", -1.,-200.00,200.00)
gen.add("lethal_obstacle_threshold", double_t, 0, "upper this value all cells are taged as lethal obstacle", 0.305,-200.00,200.00)
gen.add("inscribed_inflation_obstacle_threshold", double_t, 0, "between lethal_obstacle_threshold and this value (that shoul be lower than lethal) cells are taged as inscribed inflation obstacle", 0.25,-200.00,200.00)
gen.add("free_space_threshold", double_t, 0, "The maximum authorized delay for the tf used to reproject data", 0.30,-200.00,200.00)

exit(gen.generate("mbf_gridmap_costmap_wrapper", "mbf_gridmap_costmap_wrapper", "MBGridmapLayer"))