<launch>

    <!-- <node name="depth_estimation" pkg="depth_estimation" type="depth_predictor.py" args="depth_anything_trt" output="screen"/> -->
    <!-- <node name="depth_estimation" pkg="depth_estimation" type="depth_predictor_pc_rescaling.py" args="depth_anything_trt" output="screen"/> -->

    <!-- <rosparam command="load" file="$(find depth_estimation)/config/nav_depth_estimation.yaml" /> -->

    <node pkg="depth_estimation" type="depth_prediction_node.py" name="depth_estimation0" output="screen">
        <rosparam command="load" file="$(find depth_estimation)/config/nav_depth_cam0.yaml" />
    </node>

    <node pkg="depth_estimation" type="depth_rescaling_node.py" name="rescaling0" output="screen">
        <rosparam command="load" file="$(find depth_estimation)/config/nav_depth_cam0.yaml" />
    </node>

    <node pkg="depth_estimation" type="depth_prediction_node.py" name="depth_estimation1" output="screen">
        <rosparam command="load" file="$(find depth_estimation)/config/nav_depth_cam1.yaml" />
    </node>

    <node pkg="depth_estimation" type="depth_rescaling_node.py" name="rescaling1" output="screen">
        <rosparam command="load" file="$(find depth_estimation)/config/nav_depth_cam1.yaml" />
    </node>

    <!-- <node pkg="depth_estimation" type="pcl_registration_node.py" name="pcl_registration" output="screen">
        <rosparam command="load" file="$(find depth_estimation)/config/pcl_registration_cfg.yaml" />
    </node> -->

    <node pkg="depth_estimation" type="pcl_merge.py" name="pcl_merge" output="screen">
        <param name="topic1" value="/depth_estimation/cam0/point_cloud" />
        <param name="topic2" value="/depth_estimation/cam1/point_cloud" />
        <param name="output_topic" value="/depth_estimation/point_cloud_merged" />
        <param name="target_frame" value="base_link" />
        <param name="merge_threshold" value="0.05" />
        <param name="sync_slop" value="0.1" />
        <param name="queue_size" value="10" />
        <param name="use_voxel_filter" value="true" />
        <param name="voxel_size" value="0.05" />   
    </node>

    <!-- <node pkg="depth_estimation" type="evaluation_node.py" name="evaluation" output="screen"/>

    <node name="disp_visu" pkg="image_view" type="image_view">
        <remap from="image" to="/depth_estimation/disp_visu"/>
    </node>

    <node name="im_visu" pkg="image_view" type="image_view">
        <remap from="image" to="/image_rgb"/>
    </node>

   <node pkg="nodelet" type="nodelet" name="nodelet_manager" args="manager" output="screen"/>

  <node pkg="nodelet" type="nodelet" name="nodelet1"
        args="load depth_image_proc/point_cloud_xyz nodelet_manager" output="screen">
    <remap from="/depth_estimation/camera_info" to="/zed2i/zed_node/rgb/camera_info_new"/>
    <remap from="image_rect" to="/depth_estimation/depth_map"/>
    <remap from="points" to="/depth_estimation/points"/>
  </node>

  <node pkg="nodelet" type="nodelet" name="nodelet2"
        args="load depth_image_proc/point_cloud_xyz nodelet_manager" output="screen">
    <remap from="camera_info" to="/zed2i/zed_node/rgb/camera_info"/>
    <remap from="image_rect" to="/zed2i/zed_node/depth/depth_registered"/>
    <remap from="points" to="/camera/stereo_depth/points"/>
  </node>

  <node pkg="depth_estimation" type="rosbag_sync" name="rosbag_sync" output="screen"/> -->

</launch>